* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

.cabecalho{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65)
}
.cabecalho img{
    margin: 10px 0px 0 19px;
}

.cabecalho nav{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.cabecalho nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cabecalho a{
    font-size: 24px;
    margin: 44px 82px 44px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #777777;
}
.banner{
    height: auto;
}
.banner .banner-image{
    width: 100%;
}

  .main-1 p {
      width: 100%;
      height: 82px;
      margin-top: 68px;
      margin-bottom: 60px;
      text-align: center;
      font-size: 60px;
      font-weight: 800;
      color: black;
      
  }
section article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 113px;
}
section.container-desconto {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 662px;
    background-color: #C2185B;
    justify-content: center;
     
    }
    
    section.container-desconto p {
        width: 600px;
        height: 60px;
        position: absolute;
        text-align: center;
        margin-top: 61px;
        margin-bottom: 88px;
        color: #fff;
        font-weight: 800;
        font-size: 60px;   
        padding: 0;
    }

    section.container-desconto article {
        background-color: #fff;
        width: 260px;
        height: 388px;
        margin: 220px 30px 0 30px ;
        text-align: center;
            
    }
    
    article img {
        margin-top: -50px;
    }

    .card-title:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .card-title-2:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .card-title-3:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .card-title-4:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    
    article h6 {
        width: 90px;
        height: 23px;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: black;
    }
    article h5 {
        margin-top: 13px;
    }


    /* page aleatoria da home ai */
    /*sangrei pra fazer isso, perdi meu resto de sanidade*/



    .containerPai {
        display:flex;
        flex-wrap: wrap;
        max-width:100%;
        justify-content: center;
    }


    .nomeRandom {
        font-size: 40px;
        font-weight: bold;
        width: 585px;
        height: 144px;
        text-align: left;
        margin-left: 70px;
    }

   .coluna1 {      
       flex-direction: column;


   }
   .coluna2{   
       flex-direction: row-reverse;  
   }

   .fotos1 {
        width: 513px;
        height: 663px;
        margin: 20px
   }

   .botao {
       margin-right: 110px;
   }

    .button {
        background-color: #C2185B;
        border: none;
        color: white;
        font-size: 38px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 403px;
        height: 99px;
    }

    /*footer*/

    .footerPai {
        display: flex ;
        background-color: #C2185B;
        justify-content:space-evenly;
        align-items:center;
        padding: 20px;
    }

    footer{
        height: 248px;
    }


    .globo {
        padding-top:2px;
    }

    .logo{
        width:160px
    }

    .texto {
        font-family: "Open Sans";
        color: white;
        width: 180px;
        font-size: 16px;

    }

    .globo2{
        display:flex;
    }

    .cat{
        font-size: 22px;
        padding-right: 50px;
        color: white;
        line-height: 24px;
    }
    

    .inst{
        font-size: 20px;
        padding-right: 50px;
        color: white;
        line-height: 20px;
    }

    
    .listaCat li {
        list-style-type: none;
    }
    
    .listaInst li {
        list-style-type: none;
    }

    .listaCat a{
        color: white;
        text-decoration: none;
    }

    .listaInst a{
        color: white;
        text-decoration: none;
    }
    


    /* PAGINA TRABALHE CONOSCO */
    .main{
        display: flex;
        justify-content: space-between;
    }

    .formulario{
        width: 50%;
        height: auto;
    }

    .formulario h1{
        font-size: 44px;
        margin: 160px 62px 55px 123px;
    }

    .formulario form{
        display: flex;
        flex-direction: column;
        margin: 0 0 62px 121px;
    }
    form .secaoForm{
        display: flex;
        flex-direction: column;
        margin-bottom: 39px;
    }


    .secaoForm input{
        height: 36px;
        font-size: 24px;
    }
    .secaoForm select{
        font-size: 24px;
        height: 32px;
    }

    .secaoForm h3{
        font-size: 24px;
        color: #9B9B9B;
    }
    .secaoForm label{
        color: #9B9B9B;
        font-size: 24px;
    }

    .secaoForm #mensagem{
        font-size: 24px;
        height: 230px;
    }
    .secaoForm-curriculo{
        display: flex;
    }

    .secaoForm-curriculo input[type="file"]{
        display: none;
    }

    .secaoForm-curriculo label{
        padding: 5px 10px;
        text-align: center;
        width: 141px;
        height: 31px;
        font-size: 22px;
        margin-left: 20px;
        background-color: #C4C4C4;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .secaoForm-curriculo h3{
        font-size: 24px;
        color: #9B9B9B;
    }

    .enviar-btn{
        border: none;
        height: 44px;
        background-color: #C2185B;
        color: #fff;
        font-size: 22px;
        font-style: bold;
        margin-top: 20px;
    }


    .textoDireita{
        width: 30%;
        margin: 160px 120px 55px 123px;
    }

    .textoDireita p{
        font-style: normal;
        text-align: start;
        line-height: 35px;
        font-size: 28px;
    }

    .mark-box{
        display: flex;
        align-items: center;
    }

    .mark-box h3{
        margin-bottom: 10px;
    }

    .mark-box input[type='checkbox']{
        all: unset;
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0px;
        background-color: #9B9B9B;
    }

    .mark-box input[type='checkbox']:checked{
        all: unset;
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0px;
        background-color: #7bf67b;
    }

    .mark-box input[type='radio']{
        all: unset;
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0px;
        background-color: #9B9B9B;
        border-radius: 50%;
    }
    .mark-box input[type='radio']:checked{
        all: unset;
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0px;
        background-color: #7bf67b;
        border-radius: 50%;
    }

    .mark-box label{
        margin: 0 50px 0 0;
        color: #777777;
    }