* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

.cabecalho{
    display: flex;
    justify-content: space-between;
}
.cabecalho img{
    margin: 10px 0px 0 19px;
}

.cabecalho nav{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.cabecalho nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cabecalho a{
    margin: 44px 15px 44px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #777777;
}
.banner{
    height: 235px;
}
.banner .banner-image{
    width: 100%;
}

  section p {
      width: 100%;
      height: 82px;
      margin-top: 68px;
      margin-bottom: 60px;
      text-align: center;
      font-size: 60px;
      font-weight: 800;
      color: black;
      
  }
section article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 113px;
}
section.container-desconto {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 662px;
    background-color: #C2185B;
    justify-content: center;
     
    }
    
    section.container-desconto p {
        width: 600px;
        height: 60px;
        position: absolute;
        text-align: center;
        margin-top: 61px;
        margin-bottom: 88px;
        color: #fff;
        font-weight: 800;
        font-size: 60px;   
        padding: 0;
    }

    section.container-desconto article {
        background-color: #fff;
        width: 260px;
        height: 388px;
        margin: 220px 30px 0 30px ;
        text-align: center;
            
    }
    
    article img {
        margin-top: -50px;
    }

    .card-title:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .card-title-2:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .card-title-3:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .card-title-4:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    
    article h6 {
        width: 90px;
        height: 23px;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: black;
    }
    article h5 {
        margin-top: 13px;
    }

    .footerPai {
        display: flex ;
        background-color: #C2185B;
        justify-content:space-evenly;
        align-items:center;
        padding: 20px;
    }

    footer{
        height: 248px;
    }


    .globo {
        padding-top:2px;
    }

    .logo{
        width:160px
    }

    .texto {
        font-family: "Open Sans";
        color: white;
        width: 180px;
        font-size: 16px;

    }

    
    
   



    .globo2{
        display:flex;
    }

    .cat{
        font-size: 22px;
        padding-right: 50px;
        color: white;
        line-height: 24px;
    }
    

    .inst{
        font-size: 20px;
        padding-right: 50px;
        color: white;
        line-height: 20px;
    }

    
    .listaCat li {
        list-style-type: none;
    }
    
    .listaInst li {
        list-style-type: none;
    }
